.comp3{
    width: 265.98px;
    height: 113px;
}
.comp3 h2{
    font-size: 30px;
    position: relative;
    top: 30px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    text-align: center;
}